* {
  font-family: Consolas;
  box-sizing: border-box;
}

body { 
      background-image: url(../data/bg-image.jpeg) ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
  
}

/*CSS Link*/
a:hover {
    -webkit-animation-name: flicker;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 3;  Safari 4.0 - 8.0 
    animation-name: flicker;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}

@-webkit-keyframes flicker
{
0% {opacity:0;}
50% {opacity:1;}
60% {opacity:0;}
}

/*CSS div opacity*/
.div-opa {
  border: 4px double rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.3);
}
